cython==3.0.12
einops==0.8.1
faiss-gpu-cu11==1.10.0
huggingface-hub[torch]==0.29.3
imageio==2.37.2
imageio-ffmpeg==0.6.0
matplotlib==3.9.4
open3d==0.18.0
opencv-python==4.11.0.86
pillow==10.4.0
plyfile==0.8.1
pyglet==1.5.29
PyYAML==6.0.2
rich==13.9.4
roma==1.5.0
scikit-image==0.24.0
scikit-learn==1.6.1
tensorboard==2.19.0
tqdm==4.67.1
torchmetrics==1.8.2
trimesh==4.6.4
